# Dependency Directories
node_modules/
dist/
build/
.npm
.cache

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System Files
.DS_Store
Thumbs.db

# Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
